:root {
    /*色*/
    --green: #249696;
    --red: #C30A18;
    --orange: #F89E26;
    --yellow: #FEC603;
    --white: #ffffff;
    --gold: #B99C55;
    --black: #212529;
    --gray: #DED9CF;
    --lightgray: #cccccc;
    --darkgray: #bcbcbc;
}

.container::-webkit-scrollbar {
    /* Chrome, Safari 対応 */
    display: none;
}

html {
    overflow-x: hidden;
}

@media(min-width:768px) {
    html {
        overflow-x: visible;
    }
}

body {
    padding: 0;
    margin: 0;
    overflow-y: scroll;
    word-wrap: break-word;
    overflow-wrap: break-word;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-x: hidden;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 15px;
    letter-spacing: 0.06em;
}

main {
    background-color: #F5F0E5;
    line-height: 27px;
}

/*共通コンテナ*/

.com-container {
    width: 78%;
    margin: 0 auto;
    margin-left: 16%;
}

.br-pc {
    display: none;
}

.pc_none {
    display: block;
}

@media(min-width:768px) {
    .com-container {
        width: 79%;
        max-width: 1080px;
        margin-left: 0;
        margin: 0 auto;
    }
    .br-sp {
        display: none;
    }
    .br-pc {
        display: block;
    }
    .pc_none {
        display: none;
    }
}

/**
font設定
*/

.mincho {
    /*明朝体*/
    font-family: 'Noto Serif JP', serif;
    font-weight: 700;
}

.playfair {
    font-family: 'Playfair Display', serif;
}

.bold {
    font-weight: 700;
}

/**
ヘッダー
*/

.header .site img {
    width: 210px;
}

@media(min-width:768px) {
    .header {
        height: 88px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/*スクリーンリーダー用*/

.sr-only {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.nav-button {
    box-sizing: content-box;
    padding: 0;
    outline: none;
    border: none;
    background: none;
    width: 18px;
    height: 17px;
    cursor: pointer;
    color: #231815;
}

.nav-button::before, .nav-button::after {
    content: '';
    display: block;
    height: 2px;
    background-color: currentColor;
    transform: translateY(8px);
    transition: 0.3s ease-in-out;
}

.nav-button::before {
    transform: translateY(-8px);
    box-shadow: 0 9px currentColor;
}

.header .com-container {
    display: flex;
    flex-direction: column;
    padding: 21px 0 20px 0;
    width: 88%;
    margin: 0 auto;
}

.header .menu_abs {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    z-index: 1000;
    height: 51px;
}

.open .nav-button {
    z-index: 1000;
    color: black;
}

.open .nav-button::before {
    transform: translateY(1px) rotate(45deg);
    box-shadow: none;
}

.open .nav-button::after {
    transform: translateY(-1px) rotate(-45deg);
}

@media(min-width:768px) {
    .site img {
        width: 137px;
    }
}

/*グローバルナビゲーション*/

@media(max-width:767px) {
    html.open, .open body {
        height: 100vh;
        overflow: hidden;
    }
    .open .form {
        display: none;
    }
    .open .nav {
        top: 72px;
        opacity: 1;
        height: 250px;
        transition: top 0.5s, height 0.5s, opacity 1s;
        width: 100%;
        left: 0;
        margin-right: auto;
        margin-left: auto;
    }
    .header {
        position: relative;
    }
    .nav {
        position: absolute;
        top: -302px;
        background-color: white;
        z-index: 100;
        margin-top: 15px;
        opacity: 0;
        height: 0;
        transition: height 1s, top 1s, opacity 0.5s;
        width: 100%;
        margin: 0 auto;
        left: 0;
    }
    .nav ul {
        width: 100%;
    }
}

@media(min-width:768px) {
    .nav-button {
        display: none;
    }
    .header .com-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
        width: 79%;
    }
    .header .menu_abs {
        width: auto;
    }
    .nav {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: flex-end;
    }
    .nav .links {
        letter-spacing: 2.5px;
    }
    .nav ul {
        display: flex;
        align-items: center;
        font-family: 'Noto Serif JP', serif;
        letter-spacing: 2.5px;
    }
    .nav .bt_reserve {
        margin-left: 8%;
        height: 50px;
        text-decoration: none;
    }
    .nav .bt_reserve .left {
        width: 190px;
        height: 50px;
        font-size: 17px;
    }
    .nav .bt_reserve .right {
        width: 96px;
        height: 50px;
        font-size: 11px;
    }
    .nav ul li a:hover {
        text-decoration: none;
    }
}

/**
ボタン
*/

.bt {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    min-width: 15em;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
    transition: 0.5s;
    width: 200px;
    height: 55px;
    font-weight: 600;
    padding-right: 20px;
    width: 100%;
    max-width: 295px;
    margin: 0 auto;
}

.bt::after {
    content: "";
    position: absolute;
    right: 12px;
    width: 20px;
    height: 20px;
    background-image: url(../images/common/red_arrow.png);
    transition: 0.5s;
}

@media(min-width:768px) {
    .bt {
        max-width: 100%;
    }
}

.bt_down {
    display: table;
    position: relative;
    padding: 1em 2.5em;
    min-width: 15em;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
    transition: 0.5s;
    height: 56px;
}

.bt_down::after {
    position: absolute;
    top: 50%;
    right: 1em;
    width: 0.5em;
    height: 0.5em;
    transform: translateY(-50%) rotate(135deg);
    border-right: 2px solid #AA2923;
    border-top: 2px solid #AA2923;
    content: "";
}

.bt_arrow {
    display: table;
    position: relative;
    padding: 1em 2.5em;
    min-width: 15em;
    font-size: 13px;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
    transition: 0.5s;
    width: 335px;
    height: 55px;
}

.bt_arrow::after {
    content: "";
    position: absolute;
    top: 35%;
    right: 1em;
    width: 15px;
    height: 15px;
    background: url(../images/common/bt_arrow.png) top center / cover no-repeat;
}

.bt_ext_link {
    font-size: 13px;
    text-align: center;
    width: 335px;
    padding: 1em;
    background: url(../images/menu/ext-link.png) no-repeat;
    background-position: right;
    background-position-x: 96%;
}

.bt_short {
    width: 200px;
    height: 44px;
}

.bt_roud {
    border-radius: 50px;
}

.bt_sq_long {
    width: 100%;
    height: 55px;
}

.bt_red {
    background-color: #AA2923;
    color: white;
    border: solid 1px white;
    letter-spacing: 2px;
}

.bt_red:hover {
    background-color: white;
    color: #9b9191;
}

.bt_yellow {
    background-color: #B99C55;
    color: white;
}

.bt_yellow::after {
    background-image: url(../images/common/yellow_arrow.png);
}

.bt_yellow:hover {
    background-color: white;
    color: #B99C55;
    border: solid 2px var(--gold);
}

.bt_transparent {
    background: none;
    color: white;
    border: solid 1px white;
    letter-spacing: 2px;
    transition: 0.4s;
}

.bt_transparent::after {
    content: '';
    background-image: none;
    width: 10px;
    height: 10px;
    border: 0px;
    border-top: solid 2px var(--white);
    border-right: solid 2px var(--white);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.bt_transparent:hover {
    background: rgba(255, 255, 255, 0.7);
    color: var(--red);
}

.bt_white {
    background-color: white;
    color: var(--red);
    border: solid 1px var(--red);
}

.bt_white:hover {
    background-color: var(--red);
    color: white;
    border: solid 1px var(--white);
}

.cont_title {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    /*letter-spacing: 3px;*/
    margin-bottom: 25px;
    line-height: 40px;
}

.line {
    margin-left: auto;
    margin-right: auto;
    width: 30px;
    border-bottom: solid 3px var(--gold);
    margin-bottom: 55px;
}

.round_index {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: var(--gold);
    color: white;
    font-size: 30px;
    position: relative;
    z-index: 10;
    font-family: 'Noto Serif JP', serif;
    font-weight: 700;
}

/**番号付きボックス*/

.num_box {
    background-color: #F5F0E5;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 85px 20px 0 20px;
    margin-top: -79px;
    text-align: center;
    position: relative;
}

.num_box .box h3 {
    font-size: 20px;
    margin-bottom: 20px;
}

.num_box .box p {
    text-align: left;
    font-size: 15px;
    line-height: 27px;
    letter-spacing: 1px;
}

.num_box .box img {
    margin-top: 48px;
    margin-bottom: 38px;
}

.parenthesis {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 45px;
    text-align: center;
}

.parenthesis::before, .parenthesis::after {
    position: absolute;
    content: '';
    width: 20px;
    height: 50px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.parenthesis::before {
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border-top: 3px solid #B99C55;
    border-left: 3px solid #B99C55;
}

.parenthesis::after {
    width: 30px;
    height: 30px;
    bottom: 0;
    right: 0;
    border-bottom: 3px solid #B99C55;
    border-right: 3px solid #B99C55;
}

/**
各ページ共通のヘッダー
*/

.box_header {
    height: 240px;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.box_header .title {
    color: white;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    letter-spacing: 12px;
}

@media(min-width:768px) {
    .box_header {
        height: 230px;
    }
}

.btn_list {
    height: 90px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_list .bt {
    width: 295px;
    height: 56px;
}

/*ページトップへ戻るボタン*/

.footer .pagetop {
    display: none;
    position: fixed;
    right: 15px;
    bottom: 60px;
}

.footer .pagetop a {
    display: block;
    font-size: 0;
    width: 50px;
    height: 50px;
    text-align: center;
    background: #323232;
    border-radius: 50%;
    line-height: 50px;
}

.footer .pagetop a i {
    font-size: 20px;
    color: #fff;
    line-height: 50px;
}

/*お問合せボタン*/

.footer .bt_contact {
    position: fixed;
    left: 0px;
    bottom: 35px;
    background: var(--gold);
    color: var(--white);
    width: 40px;
    height: 260px;
    padding: 70px 10px;
}

@media(min-width:768px) {
    .footer .bt_contact {
        right: 0;
        bottom: 140px;
        left: auto;
        width: 64px;
        padding: 70px 23px;
        transition: 0.5s;
        border: solid 2px var(--gold);
        z-index: 10;
    }
    .footer .bt_contact:hover {
        background: var(--white);
        color: var(--gold);
        border: solid 2px var(--gold);
    }
}

/**
サイドバー
*/

.sidebar {
    margin-top: 40px;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
    margin-left: -21%;
    margin-right: -8%;
}

@media(min-width:768px) {
    .sidebar {
        background-color: white;
        justify-content: flex-start;
        margin-top: 0;
        min-width: 25%;
        max-width: 26%;
        margin-left: 0;
        margin-right: 0;
    }
    .sidebar .sidebar_part {
        margin-top: 0;
        margin-bottom: 35px;
        align-items: flex-start;
    }
    .sidebar .sidebar_part .archive_list {
        text-align: left;
    }
}

.sidebar_part {
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidebar_part .line {
    margin: 24px 0 0 0;
}

.sidebar_part .archive_title {
    font-size: 17px;
    font-weight: bold;
    text-align: center;
}

.news .sidebar_part ul {
    padding: 15px 0 0 0;
    text-align: center;
}

.sidebar_part ul {
    padding: 15px 0 0 0;
}

.sidebar_part ul li {
    line-height: 32px;
}

.sidebar_part ul li a {
    font-size: 14px;
    color: #323232;
}

.news .sidebar_part img {
    margin-top: 25px;
    width: 60px;
    height: auto;
}

/**
ページネーション
*/

.wp-pagenavi {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.wp-pagenavi span.current {
    background-color: #323232;
    padding: 0 15px 0 15px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.wp-pagenavi a, .wp-pagenavi span {
    margin: 0 5px 0 10px;
    border: none;
    color: #969696;
}

.wp-pagenavi .pages {
    display: none;
}

.wp-pagenavi .first::before {
    content: "";
    display: block;
    width: 26px;
    height: 8px;
    margin: 5px;
    background: url(../images/news/left.png) top center / cover no-repeat;
}

.wp-pagenavi .last::before {
    content: "";
    display: block;
    width: 26px;
    height: 8px;
    margin: 5px;
    background: url(../images/news/right.png) top center / cover no-repeat;
}

.wp-pagenavi .extend {
    display: none;
}

.copyright {
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 11px;
    background-color: var(--black);
}
.copyright p{
    width: 200px;
    text-align: center;
}

.navbar-light .navbar-toggler-icon {
    background-image: none;
}

.display_none {
    display: none;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

/* flex box */

.outer_box {
    background-color: white;
    border: solid 1px var(--gold);
    padding: 95px 20px 50px 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    max-width: 344px;
    height: auto;
    margin: 0 auto;
}

.outer_box:not(:last-child) {
    margin-bottom: 43px;
}

.outer_box .round_index {
    position: absolute;
    top: -23px;
}

.outer_box .header {
    text-align: center;
}

.outer_box .box h3 {
    margin-bottom: 35px;
    line-height: 37px;
    font-size: 20px;
    /*letter-spacing: -0.06em;*/
}

.outer_box .box .text {
    font-size: 15px;
    line-height: 1.8;
    letter-spacing: -0.1em;
}

@media(min-width:768px) {
    .boxs {
        display: flex;
        justify-content: center;
    }
    .outer_box {
        flex: 1;
        padding: 110px 0 60px 0;
        /*height: 508px;*/
        height: auto;
        min-height: 450px;
    }
    /*
    .outer_box:nth-child(2) {
        padding-top: 95px;
    }*/
    .outer_box:not(:last-child) {
        margin-bottom: 0;
        margin-right: 2%;
    }
    .outer_box .box h3 {
        margin-bottom: 40px;
    }
    /*
    .outer_box:nth-child(2) .box h3 {
        margin-bottom: 55px;
    }*/
    .outer_box .box .text {
        margin: 0 12%;
        letter-spacing: 0;
    }
}

/* 無料サポート */

.free-support {
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 30px;
    max-width: 355px;
}

.free-support .upper {
    height: 160px;
    text-align: center;
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    background-color: var(--gold);
    line-height: 45px;
}

.free-support .upper p {
    margin-top: 10px;
    font-size: 28px;
}

.free-support .upper .free {
    font-size: 60px;
}

.free-support .bottom {
    background-color: var(--white);
    color: var(--black);
    text-align: center;
    padding: 13% 2%;
}

.free-support .bottom .text {
    font-size: 24px;
    font-weight: 700;
    line-height: 40px;
}

.free-support .bottom .description {
    font-size: 14px;
    margin-top: 15px;
}

@media(min-width:768px) {
    .free-support {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 240px;
        max-width: 100%;
    }
    .free-support .upper {
        height: 100%;
        flex-basis: 20%;
    }
    .free-support .bottom {
        height: 100%;
        flex-basis: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2%;
    }
}

/* オーナー様の声*/

.voice {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-bottom: 50px;
}

.voice .cont_title {
    margin-top: 55px;
    letter-spacing: 0.06em;
}

.voice .line {
    margin-bottom: 30px;
}

.voice .desc {
    font-size: 15px;
    margin-bottom: 40px;
}

.voice .card {
    background-color: white;
    padding: 30px 20px;
    border: none;
}

.voice .card:first-child {
    margin-bottom: 26px;
}

.voice .card .header {
    margin-bottom: 20px;
    height: auto;
    justify-content: flex-start;
    margin-top: 20px;
}

.voice .card img {
    width: 179px;
    margin-bottom: 20px;
    height: auto;
    margin: 0 auto;
}

.voice .card .header p {
    font-size: 22px;
    font-weight: 700;
    text-align: left;
    line-height: 40px;
    letter-spacing: 0.1em;
}

.voice .card .name {
    margin-top: 20px;
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    line-height: 32px;
}

.voice .card .message {
    line-height: 27px;
    text-align: left;
    font-size: 15px;
    /*letter-spacing: -0.1em;*/
}

@media(min-width:768px) {
    .voice {
        padding-bottom: 0px;
    }
    .voice .cont_title {
        margin-top: 95px;
    }
    .voice .com-container {
        width: 95vw;
    }
    .voice .desc {
        margin-bottom: 70px;
    }
    .voice .voices .card {
        flex: 1;
        margin-right: 2%;
        display: flex;
        justify-content: space-between;
    }
    .voice .card {
        margin-bottom: 102px;
        display: flex;
        justify-content: space-between;
        padding: 55px;
        flex-direction: row-reverse;
    }
    .voice .card:first-child {
        margin-bottom: 30px;
    }
    .voice .card:nth-child(2) {
        flex-direction: row;
    }
    .voice .card img {
        width: 277px;
        height: 277px;
        margin: 0;
    }
    .voice .card .text {
        margin-right: 40px;
    }
    .voice .card:nth-child(2) .text {
        margin-right: 0;
        margin-left: 40px;
    }
    .voice .card .message p {
        font-size: 16px;
        line-height: 1.75;
        letter-spacing: 0.08;
    }
    .voice .card .name {
        display: flex;
        margin: 20px 0 0 0;
    }
    .voice .card .name .company_name{
        margin-right: 15px;
    }
    .voice .card .header{
        margin-top: 0;
    }
}

/**
  ドラムロールボタン
  */

.menu select, .about select {
    -webkit-appearance: none;
    /* ベンダープレフィックス(Google Chrome、Safari用) */
    -moz-appearance: none;
    /* ベンダープレフィックス(Firefox用) */
    appearance: none;
    /* 標準のスタイルを無効にする */
}

::-ms-expand {
    /* select要素のデザインを無効にする（IE用） */
    display: none;
}