
.single {
    background-color: white;
}
.single .box_header {
    background-image: url(../images/news/top_sp@2x.png);
}
.single .line{
    border-bottom: solid 3px var(--red);
}
@media(min-width:768px) {
    .consingletact .box_header {
        background-image: url(../images/news/top_pc@2x.png);
    }
    
}
.single .com-container article{
    padding: 0;
    margin-top: 50px;
}
.single .header .com-container{
    margin-top: 0;
    padding: 18px 0;
}
.single .col-12, .single .col-md-9 {
    padding: 0;
}

.single .news_meta {
    margin-bottom: 10px;
    padding: 10px 0;
}

.single .article_title {
    font-size: 24px;
    line-height: 48px;
    font-weight: 700;
}

.single img {
    width: 100%;
    height: auto;
}

.single .article_body h2, .single .article_body h3, .single .article_body h4, .single .article_body h5, .single .article_body h6, .single .article_body p, .single .article_body a {
    padding: 20px 0;
    color: var(--black);
    font-weight: 400;
}

.single .article_body h2, .single .article_body h3, .single .article_body h4, .single .article_body h5, .single .article_body h6{
    font-weight: 700;
}

.single .article_body h2 {
    font-size: 24px;
}

.single .article_body h3 {
    font-size: 20px;
}
.single .article_body h3::after{
    display: block;
    content: "";
    width: 60px;
    height: 2px;
    margin-top: 23px;
    background-color: var(--red);
}
.single .article_body h4 {
    font-size: 18px;
}

.single .article_body p {
    font-size: 15px;
}

.single .article_body h2 a {
    font-size: 14px;
    color: black;
}
.single .article_body a{
    text-decoration: revert;
}
@media(min-width:768px){
    .single .com-container{
        display: flex;
        padding-top: 64px;
        width: 95vw;
    }
    .single .com-container article{
        margin-top: 0;
    }
    .single .article_title {
        font-size: 32px;
        line-height: 54px;
    }
    .single .article_body{
        max-width: 721px;
    }
    .single .article_body h2 {
        font-size: 28px;
    }
    
    .single .article_body h3 {
        font-size: 22px;
    }
    
    .single .article_body h4 {
        font-size: 18px;
    }
    
    .single .article_body p {
        font-size: 16px;
    }
}